body {
  margin: 0;
  font-family: "pixeloidsans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, input, span {
  font-family: "pixeloidsans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face {
  font-family: 'pixeloidsans';
  src: url("/public/assets/PixeloidSans.woff") format('woff');
}

@font-face {
  font-family: 'pixeloidsansbold';
  src: url("/public/assets/PixeloidSans-Bold.woff") format('woff');
}